# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
vendor
notebooks/201bigdata
notebooks/Nemi
notebooks/notebooksazure
notebooks/privados
notebooks/taller-r

notebooks/202ml
notebooks/2022taller
notebooks/md
notebooks/RS


varios

# --- Basura del sistema ---
.DS_Store
Thumbs.db
.Trash/
.Trash-*/
$RECYCLE.BIN/
